nav{
margin:0;
padding:0;
background-color: black;
height: 100px;
}
nav ul{
margin:0;
padding:0;
}
nav ul li{
margin:0;
padding:0;
list-style-type: none;
width: 150px;
float: left;
}
li a{
text-decoration:none;
color:white;
line-height:50px;
display:block;
}
.table1{
width:100%;

border-collapse:collapse;
}
.table1 tr td{
padding:10px;
height:10px;
width:50px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 1px;
  text-align: center;
  
}

#slideshow {
  overflow: hidden;
  height: 310px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 20s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}
