nav{
margin:0;
padding:0;
background-color:black;
height: 50px;
}
nav ul{
margin:0;
padding:0;
}
nav ul li{
margin:0;
padding:0;
list-style-type: none;
width: 150px;
float: left;
}
li a{
text-decoration:none;
color:white;
line-height:50px;
display:block;
}
body{
	margin:0;
	padding:0;
	background-image:url('C:/Users/Utente/Desktop/Sito Daniela/sito costruito/72333839_449565325916486_3960983616791511040_n.jpg ');
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.text{
	margin:90px;
	padding:0;
	 width:auto;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
background:transparent;
background:rgba(0,0,0,.6);
color:white;
}

